# ITC STOCK MARKET DATASET

# 1.1 Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly.

In [60]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Administrator\Desktop\ITC.csv')

In [55]:
Series_filter = df['Series'] == 'EQ'
df1 = df[Series_filter]

In [56]:
df1.reset_index(inplace = True, drop = True) # resetting the index 
df1['Series'].unique()

array(['EQ'], dtype=object)

In [57]:
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,ITC,EQ,2017-05-15,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57
1,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15
2,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40
3,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58
4,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57

In [58]:
df1.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,ITC,EQ,2019-05-07,307.00,308.25,309.50,300.85,302.45,301.90,305.31,8655871,2.642695e+09,99220,4557484,52.65
490,ITC,EQ,2019-05-08,301.90,300.00,303.40,298.65,300.60,300.65,301.46,7876031,2.374343e+09,104147,4687591,59.52
491,ITC,EQ,2019-05-09,300.65,299.40,301.30,296.35,299.85,299.85,299.17,10223616,3.058551e+09,129794,5965688,58.35
492,ITC,EQ,2019-05-10,299.85,300.00,300.45,296.90,297.15,297.75,298.68,6904657,2.062297e+09,132469,4024203,58.28
493,ITC,EQ,2019-05-13,297.75,295.10,303.50,287.70,288.80,289.30,296.21,35880558,1.062813e+10,226154,14476904,40.35

In [59]:
df1.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,281.522166,281.953644,284.515283,279.015789,281.528239,281.551215,281.704109,1.207847e+07,3.418864e+09,100862.809717,7.576228e+06,62.907874
std,17.712189,17.797800,18.318535,17.315735,17.726871,17.713156,17.652603,9.568840e+06,2.776675e+09,49551.623372,5.795891e+06,8.987614
min,251.600000,250.000000,253.250000,250.000000,251.350000,251.600000,251.960000,9.571390e+05,2.678039e+08,10947.000000,5.829560e+05,34.830000
25%,267.662500,268.000000,270.637500,265.962500,267.750000,267.662500,267.937500,7.702920e+06,2.125598e+09,71392.000000,4.655912e+06,56.497500
50%,277.525000,278.925000,281.300000,275.250000,277.725000,277.675000,278.305000,9.834132e+06,2.753484e+09,92859.500000,6.334610e+06,63.295000
75%,293.375000,294.100000,295.687500,291.000000,293.187500,293.375000,293.187500,1.339486e+07,3.817617e+09,117500.250000,8.795104e+06,69.432500
max,342.500000,346.000000,367.700000,340.300000,342.800000,342.500000,344.040000,1.494797e+08,4.254992e+10,667965.000000,8.629348e+07,86.810000

1.2 Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [61]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1.set_index('Date', inplace=True, drop = False)
days  = "price for the last 90 days is "

print("Maximum " + days, df1['Close Price'].last('90D').max())
print("Minimum " + days, df1['Close Price'].last('90D').min())
print("Mean " + days, df1['Close Price'].last('90D').mean())

Maximum price for the last 90 days is  307.2
Minimum price for the last 90 days is  274.3
Mean price for the last 90 days is  292.955172413793

# 1.3 Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value

In [62]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 494 entries, 2017-05-15 to 2019-05-13
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

Already in datetime64[ns]

In [63]:
print(df1.index.min(), " to ", df1.index.max())
print("Difference:",df1.index.max()- df1.index.min())

2017-05-15 00:00:00  to  2019-05-13 00:00:00
Difference: 728 days 00:00:00

# 1.4 In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. ( VWAP = sum(price*volume)/sum(volume) ). The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [66]:
df1 = pd.concat([df1, pd.DataFrame({'Numerator': df1['Average Price']*df1['Total Traded Quantity']})], axis = 1)

In [75]:
month_wise_VWAP = df1['Numerator'].groupby(df1['Date'].
                                           dt.strftime('%B')).sum() / df1['Total Traded Quantity'].groupby(df1['Date'].dt.strftime('%B')).sum()
print(month_wise_VWAP)

Date
April        285.024538
August       295.580558
December     269.868010
February     275.194097
January      277.178267
July         295.126366
June         289.157079
March        278.522512
May          291.551045
November     268.741695
October      275.502751
September    284.662195
dtype: float64

In [80]:
year_wise_VWAP = df1['Transactions'].groupby(df1['Date'].
                                                      dt.strftime('%Y')).sum() / df1['Total Traded Quantity'].groupby(df1['Date'].dt.strftime('%Y')).sum()
print(year_wise_VWAP)

Date
2017    284.096358
2018    280.287617
2019    288.284668
dtype: float64

# 1.5 Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days. Calculate the average price AND the profit/loss percentages over the course of last - 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year. {Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [86]:
def average_price(n, stmp = 'D'):
    
    return df1['Close Price'].last(str(n) + stmp).mean()
average_price(90)

292.955172413793

In [85]:
def profit_loss(n, stmp = 'D'):
    k = len(df1)
    curr = df1['Close Price'][k-1]
    n_days_old = df1['Close Price'].last(str(n) + stmp)[0]
    
    return ((curr - n_days_old)/n_days_old)*100
profit_loss(90)

4.497020046956831

In [87]:
def average_price_and_profit_loss(num, stmp):
    
    print("Average Price over last " + str(num) + stmp+ " is", average_price(num, stmp))

    val = profit_loss(num, stmp)

    if val == 0.0:
        print("No profit and No loss")
    elif val > 0:
        print("Profit over last {} {} is {:.2f}%".format(num, stmp, val))
    else:
        print("Loss over last {} {} is {:.2f}%".format(num, stmp, val*-1))
        
# Average price and profit/loss over last 1 week
print('Over last Week:',average_price_and_profit_loss(1, 'W'))


# Average price and profit/loss over last 2 week
print('Over last 2 Weeks:',average_price_and_profit_loss(2, 'W'))


# Average price and profit/loss over last 1 month
print('Over last Month:',average_price_and_profit_loss(1, 'M'))


# Average price and profit/loss over last 3 month
print('Over last 3 Months',average_price_and_profit_loss(3, 'M'))


# Average price and profit/loss over last 6 month
print('Over last 6 Months:',average_price_and_profit_loss(6, 'M'))


# Average price and profit/loss over last 1 year
print('Over last 1 Year:',average_price_and_profit_loss(1, 'Y'))

Average Price over last 1W is 289.3
No profit and No loss
Over last Week: None
Average Price over last 2W is 299.40833333333336
Loss over last 2 W is 5.77%
Over last 2 Weeks: None
Average Price over last 1M is 300.71250000000003
Loss over last 1 M is 5.15%
Over last Month: None
Average Price over last 3M is 297.3347826086956
Profit over last 3 M is 3.99%
Over last 3 Months None
Average Price over last 6M is 287.3770642201835
Profit over last 6 M is 2.24%
Over last 6 Months: None
Average Price over last 1Y is 289.51067415730347
Profit over last 1 Y is 2.33%
Over last 1 Year: None

# 1.6 Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [98]:
df1.insert(df1.shape[1], 'Day_Perc_Change', df1['Close Price'].pct_change())
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Numerator,Day_Perc_Change
Date,,,,,,,,,,,,,,,,,
2017-05-15,ITC,EQ,2017-05-15,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57,1.517472e+09,NaN
2017-05-16,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,3.147626e+09,0.019788
2017-05-17,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,2.336300e+09,-0.006350
2017-05-18,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,2.206827e+09,-0.013314
2017-05-19,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,1.036286e+10,0.029867

The value under 'Day_Perc_Change' will be 'Nan' because there is no previous value to compare it with.

In [99]:
df1 = df1.iloc[1:,:] # removing the first row containing the Nan value
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Numerator,Day_Perc_Change
Date,,,,,,,,,,,,,,,,,
2017-05-16,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,3.147626e+09,0.019788
2017-05-17,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,2.336300e+09,-0.006350
2017-05-18,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,2.206827e+09,-0.013314
2017-05-19,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,1.036286e+10,0.029867
2017-05-22,ITC,EQ,2017-05-22,286.20,292.45,304.80,291.30,303.00,303.60,299.75,35939315,1.077281e+10,250048,17079600,47.52,1.077281e+10,0.060797

# 1.7 Add another column 'Trend' whose values are: 'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5 'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1 'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1 'Positive' for 'Day_Perc_Change' in between 1 and 3 'Negative' for 'Day_Perc_Change' in between -1 and -3 'Among top gainers' for 'Day_Perc_Change' in between 3 and 7 'Among top losers' for 'Day_Perc_Change' in between -3 and -7 'Bull run' for 'Day_Perc_Change' >7 'Bear drop' for 'Day_Perc_Change' <-7

In [104]:
df1.insert(df1.shape[1], 'Trend', 'NaN')
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Numerator,Day_Perc_Change,Trend
Date,,,,,,,,,,,,,,,,,,
2017-05-16,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,3.147626e+09,0.019788,NaN
2017-05-17,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,2.336300e+09,-0.006350,NaN
2017-05-18,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,2.206827e+09,-0.013314,NaN
2017-05-19,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,1.036286e+10,0.029867,NaN
2017-05-22,ITC,EQ,2017-05-22,286.20,292.45,304.80,291.30,303.00,303.60,299.75,35939315,1.077281e+10,250048,17079600,47.52,1.077281e+10,0.060797,NaN

In [112]:
# using .loc to update the value in the column
df1.loc[df1['Day_Perc_Change'].between(-0.005, -0.01, inclusive = True), 'Trend'] = 'Slight negative'

df1.loc[df1['Day_Perc_Change'].between(0.005, 0.01, inclusive = True), 'Trend'] = 'Slight positive'
df1.loc[df1['Day_Perc_Change'].between(-0.03, -0.01, inclusive = False),'Trend'] = 'Negative'

df1.loc[df1['Day_Perc_Change'].between(0.01, 0.03, inclusive = False),'Trend'] = 'Positive'
df1.loc[df1['Day_Perc_Change'].between(-0.07, -0.03, inclusive = True),'Trend'] = 'Top losers'

df1.loc[df1['Day_Perc_Change'].between(0.03, 0.07, inclusive = True),'Trend'] = 'Top gainers'
df1.loc[df1['Day_Perc_Change']<-0.07,'Trend']= 'Bear drop'

df1.loc[df1['Day_Perc_Change']>0.07,'Trend'] = 'Bear run'
df1.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Numerator,Day_Perc_Change,Trend
Date,,,,,,,,,,,,,,,,,,
2017-05-16,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,3.147626e+09,0.019788,Positive
2017-05-17,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,2.336300e+09,-0.006350,NaN
2017-05-18,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,2.206827e+09,-0.013314,Negative
2017-05-19,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,1.036286e+10,0.029867,Positive
2017-05-22,ITC,EQ,2017-05-22,286.20,292.45,304.80,291.30,303.00,303.60,299.75,35939315,1.077281e+10,250048,17079600,47.52,1.077281e+10,0.060797,Top gainers

# 1.8 Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'

In [113]:
# The average of the 'Total Traded Quantity' for each types of 'Trend'
df1.groupby('Trend')['Total Traded Quantity'].mean()

Trend
Bear drop          1.494797e+08
NaN                9.912895e+06
Negative           1.253753e+07
Positive           1.466115e+07
Slight positive    1.086393e+07
Top gainers        2.696485e+07
Top losers         2.603450e+07
Name: Total Traded Quantity, dtype: float64

In [114]:
# The median values of the 'Total Traded Quantity' for each types of 'Trend'
df1.groupby('Trend')['Total Traded Quantity'].median()

Trend
Bear drop          149479681.0
NaN                  8835454.0
Negative            10814596.0
Positive            13240850.0
Slight positive      9731130.5
Top gainers         21742467.0
Top losers          23163417.0
Name: Total Traded Quantity, dtype: float64

# 1.9 SAVE the dataframe with the additional columns computed as a csv file week2.csv.

In [115]:
df1.to_csv(r'C:\Users\Administrator\Desktop\Week2_ITC.csv')